body{

}




h3.ex1{
    margin-left: 10px;
     text-decoration-color: #f0f8ff;
     margin-top: 0px;
}
a.ex3{
    border-style: solid;
    padding: 4px 10px;
    border-color: green;
    border-width: 2px;
    border-radius: 20px;
    background-color: green;
    color: white;
    margin-left: 600px;
}
a.ex3:hover{
    color: white;
    background-color: green;
}
h3.ex1{
    background-color: rgb(18, 18, 81);
    color: white;
    border: 4px;
    border-radius: 10px;
    margin-bottom: 0%;
}
a.ex2{
    margin-left: 30px;
    color: white;
    background-color: rgb(167, 3, 3);
    padding: 4px 10px;
    border-radius: 20px;
}
img.ex5{
   margin-top: 0px;
   border-radius: 20px;
}
a.ex6{
    margin-left: 200px;
    color: white;

}
a.ex7{margin-left: 20px;
    color: white;
}
a.ex8{
    margin-left: 20px;
    color: white;
}
a.ex9{
    margin-left: 20px;
    margin-right: 20px;
    color: white;
}
a.ex10{
    margin-left: 20px;
    margin-right: 20px;
    color: white;
}
a.ex11{
    margin-left: 20px;
    margin-right: 20px;
    color: white;
    
}
a.ex12{
    color:white;
}
a.ex13{
    color:white;

}
a.ex14{
    color:white;

}

h2{
   background-color: rgb(3, 70, 128);
   border-radius: 10px;
}
p{
   
    background-color: white;
    padding: 50px 20ox;
    text-align: justify;
    max-width: 60%;
    text-decoration-skip: 10px;
}
h1{
    color: darkred;
    background-color: rgb(2, 2, 44);
}
h1.ex15{
    background-color: rgb(1, 1, 46);
    color: #f0f8ff;
    text-align: center;
    margin: 0%;
    margin-top: 0%;
}
div.ex22{
    background-color: hsl(0, 0%, 82%);
   
    width: 20%;
    height: 80%;
    border: 5px solid rgb(31, 8, 70);
    padding: 50px;
   
    margin-left: 950px;
  
  margin-top: 0px;
}
p.ex16{
    background-color: hsl(270, 5%, 83%);
}S
h1.ex18{
    margin-left: 800px;
}
p.ex19{
    margin: auto;
    margin-right: 500Px;
    
    line-height: 2;
}
div.ex21{
    background-color: rgb(5, 5, 49);
    border: 20%;
    width: 100%;
    height: 60%;
margin-top: 0%;

margin-left: 0%;
border-radius: 20px;

}
h1.ex18{
    margin-left: 40px;
    color: white;
  
}
h1.ex19{
    margin-left: 40px;
    color: white;
}
h1.ex20{
    margin-left: 40px;
    color: white;
}
h1.ex22{
    background-color: rgb(1, 1, 47);
 text-align: right;
    color:white;
    border:rgb 2px rgb(1, 1, 47);
   
    border-radius: 20px;
}




html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 80%;
      display: block;
    }
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  
  .container {
    padding: 0 16px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: #555;
  }